// Variables
$startDegree: 0deg;
$endDegree: $startDegree + 180deg;

// Style
.accordionitem__container {
  .accordionitem__header {
    cursor: pointer;

    .accordionitem__header-button-container {
      .accordionitem__header-button {
        transition-property: transform;
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
        font-size: 30px;

        &--open {
          transform: rotate($startDegree);
        }
        &--close {
          transform: rotate($endDegree);
        }
      }
    }
  }

  .accordionitem__body {
    &--open {
      height: 300px;
    }

    &--close {
      height: 0px;
    }
  }
}
